language: php

sudo: false

php:
- 7
- 5.2
- 5.3
- 5.4
- 5.5
- 5.6

env:
- WP_VERSION=latest
- WP_VERSION=4.4.4
- WP_VERSION=4.3.5
- WP_VERSION=4.2.9
- WP_VERSION=4.1.12
- WP_VERSION=4.0.12
- WP_VERSION=3.9.13

matrix:
  exclude:
    - php: 7
      env: WP_VERSION=4.2.9
    - php: 7
      env: WP_VERSION=4.1.12
    - php: 7
      env: WP_VERSION=4.0.12
    - php: 7
      env: WP_VERSION=3.9.13

install:
- npm install grunt-cli
- npm install
  
before_script:
- node_modules/grunt-cli/bin/grunt test_build
- bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: 
- PHPRC=. WP_TESTS_DIR=/tmp/wordpress-tests-lib phpunit

after_script:
- test $TRAVIS_PHP_VERSION = '7' && $WP_VERSION = 'latest' && ( PHPRC=. WP_TESTS_DIR=/tmp/wordpress-tests-lib phpunit --coverage-clover clover.xml && bash <(curl -s https://codecov.io/bash))
