<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	stderr="true"
	convertWarningsToExceptions="true"
	>
    <php>
        <const name="WP_TESTS_MULTISITE" value="1" />
    </php>
	<testsuites>
		<testsuite name="blah">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>Symfony/Resources</directory>
				<directory>dick</directory>
				<directory>node_modules</directory>
				<directory>perf</directory>
				<directory>php-utf8</directory>
				<directory>tests</directory>
				<file>Symfony/Normalizer2.php</file>
				<file>Symfony/NormalizerO.php</file>
				<file>Symfony/NormalizerS.php</file>
				<file>Symfony/unfc_ins.php</file>
				<file>includes/class-unfc-normalize-command.php</file>
				<file>includes/command.php</file>
				<file>tools/gen_cat_regex_alts.php</file>
				<file>tools/gen_combining_class.php</file>
				<file>tools/gen_east_asian_width.php</file>
				<file>tools/gen_latin_ascii_missing.php</file>
				<file>tools/gen_mnme_regex.php</file>
				<file>tools/gen_remove_accents_missing.php</file>
				<file>tools/gen_remove_accents_ranges.php</file>
				<file>tools/gen_script_regex_alts.php</file>
				<file>tools/gen_script_test_combining.php</file>
				<file>tools/gen_trans_latin_ascii.php</file>
				<file>tools/gen_unfc_ins.php</file>
				<file>tools/gen_unfc_regex_alts.php</file>
				<file>tools/gen_unidata.php</file>
				<file>tools/list.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
