<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	stderr="true"
	>
    <php>
        <const name="WP_TESTS_MULTISITE" value="1" />
    </php>
	<testsuites>
		<testsuite>
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>Symfony/Resources</directory>
				<directory>node_modules</directory>
				<directory>perf</directory>
				<directory>php-utf8</directory>
				<directory>tests</directory>
				<file>debug.php</file>
				<file>Symfony/Normalizer2.php</file>
				<file>Symfony/NormalizerO.php</file>
				<file>Symfony/NormalizerS.php</file>
				<file>Symfony/unfc_ins.php</file>
				<file>tools/gen_combining_class.php</file>
				<file>tools/gen_mnme_regex.php</file>
				<file>tools/gen_unfc_regex_alts.php</file>
				<file>tools/gen_unfc_ins.php</file>
				<file>tools/list.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
